<div class="container">

  <!-- This is form to add a new item -->
  <div id="newBookmark" class="panel panel-default">
    <div class="panel-heading">New bookmark</div>
    <div class="panel-body">

      <!-- Add a new bookmark -->
      <h4>Add a new bookmark from a known URL:</h4>
      <form role="form">
        <div class="input-group has-feedback">
          <input ng-model="newBookmark.url" class="form-control input-lg" placeholder="Enter here the URL" required>
          <span class="ion-earth form-control-feedback"></span>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="addFromUrl()">Add</button>
          </span>
        </div>
      </form>

      <div class="bookmark-or-separator">
        <h4 class="text">or</h4> <hr>
      </div>

      <!-- Import from Chrome/Firefox -->
      <h4>Import bookmarks from your browser:</h4>
      <div ngf-drop ngf-select ng-model="file" class="drop-box"
      ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true">Drop here the Chrome/Firefox bookmarks in .html format.</div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

      <div class="bookmark-or-separator">
        <h4 class="text">or</h4> <hr>
      </div>

      <!-- Import from GitHub -->
      <h4>Import bookmarks from someone's starred repositories on GitHub:</h4>
      <form role="form">
        <div class="input-group has-feedback">
          <input ng-model="username" class="form-control input-lg" placeholder="Enter here the GitHub username" required>
          <span class="ion-social-octocat form-control-feedback"></span>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="addFromGithub()">Add</button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <!-- Existing items -->
  <div class="panel panel-default">
    <div class="panel-heading">My bookmarks</div>
    <div class="panel-body">
      <table>
        <tr ng-repeat="bookmark in bookmarks" ng-class="editingId == bookmark.id ? 'selected' : 'default'">

          <td class="favicon"><img ng-src="{{bookmark.favicon}}" /></td>
          <td ng-if="editingId != bookmark.id" class="expand"><a ng-href="{{bookmark.url}}">{{bookmark.name}}</a></td>
          <td ng-if="editingId == bookmark.id" class="expand selected">
            <label>URL</label>
            <input ng-model="bookmark.url" class="form-control" placeholder="URL">
            <br />
            <label>Name</label>
            <input ng-model="bookmark.name" class="form-control" placeholder="Name (optional)">
            <br />
            <label>Tags</label>
            <tags-input ng-model="bookmark.tags" placeholder="Tags"></tags-input></label>
            <br />
            <label>Notes</label>
            <textarea ng-model="bookmark.notes" class="form-control" placeholder="Notes"></textarea></label>
          </td>
          <td ng-if="editingId != bookmark.id" >
            <button type="button" class="btn btn-danger" ng-click="deleteBookmark(bookmark)">
              <i class="glyphicon glyphicon-trash icon-trash"></i>
            </button>
          </td>
          <td ng-if="editingId != bookmark.id" >
            <button type="button" class="btn btn-info" ng-click="startEditingBookmark(bookmark)">
              <i class="glyphicon glyphicon-pencil icon-pencil"></i>
            </button>
          </td>
          <td ng-if="editingId == bookmark.id" >
            <button type="button" class="btn btn-warning" ng-click="cancelEditingBookmark(bookmark)">
              <i class="glyphicon glyphicon-remove icon-remove"></i>
            </button>
          </td>
          <td ng-if="editingId == bookmark.id" >
            <button type="button" class="btn btn-success" ng-click="editBookmark(bookmark)">
              <i class="glyphicon glyphicon-ok icon-ok"></i>
            </button>
          </td>

        </tr>
      </table>
    </div>
  </div>

</div>
