<div class="container">

  <!-- This is form to add a new item -->
  <div class="panel panel-default">
    <div class="panel-heading">New bookmark</div>
    <div class="panel-body">
      <form role="form">
        <div class="form-group has-feedback">
          <input ng-model="newBookmark.url" class="form-control input-lg" placeholder="Enter a new bookmark" required>
          <span class="ion-earth form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input ng-model="newBookmark.name" class="form-control input-lg" placeholder="Name (optional)">
          <span class="ion-pricetag form-control-feedback"></span>
        </div>
        <button type="button" class="btn btn-primary" ng-click="addBookmark()">Add</button>
      </form>
    </div>
  </div>

  <!-- Existing items -->
  <div class="panel panel-default">
    <div class="panel-heading">{{user.username}}'s bookmarks</div>
      <div ng-repeat="bookmark in user.bookmarks">
        <div class="panel-body" ng-if="editingId != bookmark._id">
          <img ng-src="{{bookmark.favicon}}" />
          <a ng-href="{{bookmark.url}}">{{bookmark.name}}</a>
          <span class="ion-trash-a pull-right sortable" ng-click="removeBookmark(bookmark)"></span>
          <span class="ion-ios-compose pull-right sortable" ng-click="editUpdateBookmark(bookmark)"></span>
        </div>
        <div class="panel-body" ng-if="editingId == bookmark._id">
          <form role="form">
            <div class="form-group">
              <label>Title:</label>{{bookmark.title}}
            </div>
            <div class="form-group">
              <input ng-model="bookmark.name" class="form-control" placeholder="Name (optional)"></textarea>
            </div>
            <div class="form-group">
              <input ng-model="bookmark.url" class="form-control" placeholder="Url"></textarea>
            </div>
            <button type="button" class="btn btn-primary" ng-click="cancelUpdateBookmark()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="saveUpdateBookmark(bookmark)">Save</button>
          </form>
        </div>
      </div>
  </div>

</div>
